
header{
    text-align: center;
}

.container{
    text-align:center;
}

nav.nav li{
    color:black;
}

nav.nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.button{
    border-radius: 999px;
}

.blanc{
    color:#ffff;
}

.bleu{
    color: #004aad;
}

.background-beige {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#efe6d7;
    border: 5px dashed #ffff;
}


nav.nav-en-colonne {
    display: flex;
    align-items: center;
    gap: 70px;
    width: 50%;
    padding-left: 70px;
}

.couleur3{
    color:#9db6b2;
}

#your-email{
    border-radius: 999px;

}


body{
    background-color:#9db6b2;
}

.habillage{
    width: auto; /* largeur en pixel de ta photo */
    height: 200px;
}

.img2{
    width: 10%;
    padding-top: 30px;
}

.droite{
    margin-left: 150px;
    margin-right: 450px;
    padding-left: 200px;
    background-color:#efe6d7;
    border: 5px dashed #ffff;
}

.gauche{
    padding-right:400px;
}


nav.paiement{
    list-style:none;
    width: 10%;
    margin-left: 70px;
    margin-right: 70px;
    align-items:flex-start;

    display:inline-block;
}
.petit{
    width:300%;
    
    
}
