header{
    text-align: center;
}

.container{
    text-align:center;
}

.img2{
    width: 10%;
    padding-top: 30px;
}
.blanc{
    color:#ffff;
}

.rouge{
    color: rgb(204, 40, 62);
}

.centre{
    margin-left: 450px;
}

.blanc2{
    color:#e1e9e8;
}
.columns{
    display: flex;
    align-items: center;
    gap: 70px;
}

.couleur3{
    color:#9db6b2;
}

.column{
    width: 50%;
}
body{
    background-color:#9db6b2;
}


nav.nav li{
    color:black;
}

.grid{
    padding-left: 40px;
    padding-right: 165px;
}

nav.nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

nav.nav-en-colonne {
    display: flex;
    align-items: center;
    gap: 70px;
    width: 50%;
    padding-left: 70px;
}


.background-beige {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#efe6d7;
    border: 5px dashed #ffff;
}

.background-beige {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#efe6d7;
    border: 5px dashed #ffff;
}
.back-groundvert {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:#9db6b2;
}

.popup-button{
    border-radius: 999px;
}
.hauteur{
    height:43vh;
}

.hauteur2{
    height:52vh;
}

#email{
    border-radius: 999px;

}


.bleu{
    color:#004aad;
}

.carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
    
  }
  
.carousel .carousel__item,
.carousel .carousel__item--hidden {
    display: none;
}
  
.carousel .carousel__item img {
    width: 100%;
    max-width: 600px;
    height: auto;
}
  
.carousel .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
}
  
.carousel .carousel__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
  
.carousel .carousel__actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
  
.carousel .carousel__actions button#carousel__button--prev {
    margin-left: -30px;
}
  
.carousel .carousel__actions button#carousel__button--next {
    margin-right: 500px;
}
  
  @keyframes fadeVisibility {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: opacity linear;
    }
  }


  .hauteur3{
    height:50vh;
}

.menu.is-open{
    margin-left: 0;
    /* display: block; */
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vh;
    background-color: white;
    border: 1px solid #000;
    padding: 50px;
    transform: translate(-50%, -50%) scale(0);
    transition: all .5s;
}

.popup-close{
    position: absolute;
    top: 10px;
    right: 10px;
}

.popup.is-open{
    transform: translate(-50%, -50%) scale(1);
}

